<div>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% assign services = site.services | reverse %}
        {% for item in services %}
          <tr>
            <th scope="row" style="width: 10%">{{ item.date | date: '%Y' }}</th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
</div>
