<div>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% assign services = site.services | reverse %}
        {% for item in services %}
          <tr>
            <td class="bullet-cell">
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
</div>
