<div class="publications">
  <p><strong>Authors are ordered alphabetically with equal contributions by default.</strong></p>
  {% comment %} For papers marked with "†", authors are ordered by contribution. {% endcomment %}
  {% bibliography --group_by none --query @*[selected=true]* %}
</div>
