<div>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% assign awards = site.awards | reverse %}
        {% for item in awards %}
          <tr>
            <td class="bullet-cell">
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
</div>

<style>
.bullet-cell {
  position: relative;
  padding-left: 2.5rem !important;
}

.bullet-cell::before {
  content: "•";
  position: absolute;
  left: 1rem;
  color: #1772d0;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1;
}
</style>
