<div class="publications">
  <!-- <p> (Papers marked with "†" use alphabetic ordering of authors, following the convention of theoretical computer science.)</p> -->
  {% bibliography --group_by none --query @*[selected=true]* %}
</div>
